* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 60%;
}

.card {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 223, 240);
}

.Qr {
    background-color: white;
    width: 320px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
    border-radius: 2rem;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    border-radius: 1rem;
    margin-top: -4rem;
}

h2 {
    margin-top: 2.5rem;
    width: 80%;
    text-align: center;
    font-size: 21px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

p {
    width: 65%;
    text-align: center;
    color: rgb(92, 89, 89);
    font-size: 1.4rem;
}
