body {
    background-color: hsl(212, 45%, 89%);
    border: 0px;
    height: auto;
    align-items: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin: auto;
    position: relative;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.Qr {
    font-size: 15px;
    text-align: center;
    color: hsl(218, 44%, 22%);
    width: auto;
    position: relative;
}

.card {
    width: auto;
    margin: 80px auto auto auto;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    border-color: hsl(212, 45%, 89%);
    border-radius: 30px 30px 30px 30px;
    padding: 10px;
    left: 40%;
    right: 35%;
    box-shadow: 50px 50px 50px hsl(220, 15%, 55%);
    height: auto;
    text-align: center;
}

h2 {
    font-size: 15px;
    width: 80%;
    margin: auto;
    position: relative;
}

p {
    font-size: 13px;
    width: 80%;
    margin: auto;
    color: hsl(220, 15%, 55%);
    position: relative;
}

.img {
    margin: 0%;
    width: 90%;
    border-radius: 20px 20px 20px 20px;
    position: relative;
    height: auto;
}
